@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=Roboto+Condensed&family=Roboto:wght@300;400;500;700&display=swap");

/* ------------------------------------------------Colors*/

.colorscheme {
  background-color: #ee5f00;
  color: #fafafa!important;
}

/* ------------------------------------------------General Settings*/
header{
    overflow: visible;
}

section { 
  background: url("../images/table.basil.knife.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav> a {
    margin-left: 15px;
}

nav button{
    margin-right: 15px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Dosis',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

footer p{
    margin: 0px;
    padding: 15px 0;
}

/* ------------------------------------------------Navbar*/
.fa-carrot{
    font-size: 30px;
}

#bt-toggler{
    color:#fff;
    font-size:28px;
    font-weight: 100;
    border-color: rgb(255, 255, 255)!important;
}


#nav {
  padding: 0px;
  margin-right: 0px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  padding-right: 15px;
}

#nav li {
  padding-right: 25px;
}

#nav li a {
  color: #fafafa;
}

/* ------------------------------------------------Hero Div*/

.maintitle{
    background-color: rgb(0,0,0,0.5);
    color: #fafafa;
    margin-top: 15px;
    padding: 10px 0;
}

.herophotos{
    height: 500px;
    margin: 0px!important;
}

.container-wrapper{
   padding: 0 200px;
}

/* ------------------------------------------------What is it Div*/

.charts-wrapper{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    
  }

.charts-vegetables{
      height: 50%;
      width: 50%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-top-left-radius: 100%;
  }

  .charts-fruits{
    background: url("../images/fruits_1.jpg") no-repeat center center;
      height: 50%;
      width: 50%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom-left-radius: 100%;
  }

  .charts-nuts{
    background: url("../images/nuts_1.jpg") no-repeat center center;
      height: 50%;
      width: 50%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-top-right-radius: 100%;
      right: 175px;
      }