@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=Roboto+Condensed&family=Roboto:wght@300;400;500;700&display=swap");

/* ------------------------------------------------Colors*/

.colorscheme {
  background-color: #ee5f00;
  color: #fafafa !important;
}

/* ------------------------------------------------General Settings*/
header {
  overflow: visible;
}

section {
  background: url("../images/table.basil.knife.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: relative;
}


.hero-wrapper {
  position: relative;
 }

nav > a {
  margin-left: 15px;
}

nav button {
  margin-right: 15px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #fafafa !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

footer p {
  margin: 0px;
  padding: 15px 0;
}

.padding-bottom {
  padding-bottom: 25px;
}

/* ------------------------------------------------Navbar*/
.fa-carrot {
  font-size: 30px;
}

#bt-toggler {
  color: #fff;
  font-size: 28px;
  font-weight: 100;
  border-color: rgb(255, 255, 255) !important;
}

#nav {
  padding: 0px;
  margin-right: 0px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  padding-right: 15px;
}

#nav li {
  padding-right: 25px;
}

#nav li a {
  color: #fafafa;
}

/* ------------------------------------------------Hero Div*/

.maintitle {
  color: #fafafa;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.maintitles {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fafafa;
  margin: 15px;
  left: 10%;
  padding: 10px 30px;
  position: absolute;
  z-index: 1;
}

.herophotos {
  margin: 0px !important;
}

.text-box-hero {
  width: 30%;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 14px;
}

.text-box-hero a,
.text-box-hero a:hover {
  color: #fff;
  text-decoration: none;
}

.text-box-hero p {
  margin-left: 15px;
  padding-bottom: 15px;
}

.img-fruits {
  height: 500px;
  width: 100%;
  background: url("../images/fruits_1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.img-dairy {
  height: 500px;
  width: 100%;
  background: url("../images/dairy_1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid {
  padding: 0px;
}

.img-nuts {
  height: 500px;
  width: 100%;
  background: url("../images/nuts_in_sac.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-wrapper {
  padding: 0 200px;
}

/* ------------------------------------------------What is it Div*/

.charts-wrapper {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px;
  border-color: rgb(0, 0, 0);
}

.charts-vegetables {
  border-top-left-radius: 100%;
  height: 50%;
  width: 50%;
  padding: 5px;
}

.charts-fruits {
  height: 50%;
  width: 50%;
  border-bottom-left-radius: 100%;
  padding: 5px;
}

.charts-nuts {
  height: 50%;
  width: 50%;
  border-top-right-radius: 100%;
  float: right;
  padding: 5px;
}

.charts-protein {
  height: 50%;
  width: 50%;
  border-bottom-right-radius: 100%;
  float: right;
  padding: 5px;
}

/* ------------------------------------------------Did you know?*/

.fa-chart-line{
    font-size:200px;}

.left{
    float: right;
}
}

/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-----------------------------------------HISTORY.HTML----------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

.history-maintitle {
    padding: 3% 0%;
    font-size: 30px;
}

/* ------------------------------------------------------------------------Mobile View----*/

.vertical-line {
  border-left: solid #ee5f00 2px;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 20px;
}

.text-date {
  display: inline;
}

.bottom-line {
  border-bottom: solid #ee5f00 2px;
  margin: 0px;
  padding-bottom: 0px;
  width: 125px;
}

.text-date p {
  padding: 10px 20px 40px 0px;
  width: 90%;
  margin-left: 40px;
  margin-bottom: 0px !important;
  text-align: justify;
}

.fa-calendar-alt {
  margin-left: 25px;
  padding: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------------Desktop View----*/

.left-history-box {
  width: 40%;
  padding-bottom: 20px;
  border-right: solid 2px #ee5f00;
}

.right-history-box {
  width: 40%;
  padding-bottom: 20px;
  border-left: solid 2px #ee5f00;
}

.left-history-box p {
  margin-left: 20%;
  text-align: right;
  margin-top: 2%;
  margin-right: 2%;
}

.date-history-right {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #ee5f00;
  margin-left: 2%;
  margin-top: 5%;
}

.date-history-right p {
  margin: 25% 0%;
  text-align: center;
  font-size: 28px;
}

.date-history-left {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #ee5f00;
  float: right;
  margin-top: 5%;
  margin-right: 2%;
}

.date-history-left p {
  margin: 25% 0%;
  text-align: center;
  font-size: 28px;
}

.right-history-box > p {
  margin-right: 20%;
  margin-top: 2%;
  margin-left: 2%;
}

.history-end{
    height: 20px;
}

/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-----------------------------------------FACTS.HTML----------------------------------------
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

.facts-maintitle{
     padding: 3% 0%;
}

.facts-photo {
  height: 300px !important;
  padding: 0px !important;
}

.facts-photo-wrapper {
  height: 240px;
  width: 240px;
  margin: auto;
  border-radius: 50%;
}

#fruits .facts-photo-wrapper {
  background: url("../images/fruits_1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#dairy{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5% 0%;
}

#fruits, #nuts{
    padding: 5% 0%;
}

#dairy .facts-photo-wrapper {
  background: url("../images/dairy_1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#nuts .facts-photo-wrapper {
  background: url("../images/nuts_in_sac.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.facts-title h1 {
  vertical-align: auto;
  margin-left: 0px;
  margin-bottom: 1px;
}

.facts-title p{
    margin-left: 0px!important;
    padding-left: 0px!important;
}
.facts-title-division {
  width: 80%;
  height: 4px;
  background-color: #ee5f00;
}

.facts-heading-division {
  margin: auto;
  width: 200px;
  border-bottom: solid #ee5f00 2px;
}

#fruits p, #dairy p, #nuts p {
  margin: 4% 10%;
}

#fruits ul, #dairy ul, #nuts ul {
  margin: 4% 5%;
}

#fruits h3, #dairy h3, #nuts h3 {
  padding-top: 10%;
}
